{{#section 'title'}}
<title>{{content.title}}</title>
{{/section}}

<div class="col-md-9 container">
  <section id="content" style="background: white;" class="mt-4 mb-2 px-4 py-3">
    <section id="content-header">
      <div class="d-flex justify-content-between">
        
        <p class="mb-0">
          {{#if (equals content.typeID 0)}}<a href="/forum">Diễn đàn</a> <span>/</span>{{/if}}
          {{#if (equals content.typeID 1)}}<a href="/news">Tin tức</a> <span>/</span>{{/if}}
          {{#if (equals content.typeID 2)}}<a href="/opportunities">Cơ hội</a> <span>/</span>{{/if}}
          {{#unless (equals content.typeID 2)}}
          <a href="{{#if (equals content.typeID 0)}}/forum{{/if}}{{#if (equals content.typeID 1)}}/news{{/if}}?topic={{content.topicID}}"><b>{{content.topicName}}</b></a>
          {{/unless}}
        </p>
        
        <small>{{content.postTime}}</small>
      </div>
      <h3><b>{{content.title}}</b></h3>
      <div class="d-flex justify-content-between">
        <p class="mb-0"><a href="/u/{{content.author._id}}" class="text-dark"><b>{{content.author.FullName}}</b></a></p>
        {{#if isAuthor}}
        <small><a href="/c/{{content._id}}/edit"><b>Chỉnh sửa</b></a></small>
        {{/if}}
      </div>
    </section>
    <section id="content-body" class="mt-2">
      {{{content.body}}}
    </section>
  </section>

  <div class="card">
    <div class="card-body p-3">
      <form id="formComment" action="" method="post">
        <input type="hidden" name="author" value="{{authUser._id}}">
        <textarea name="body" style="resize: none;" rows="1" class="form-control" type="text" placeholder="Bình luận" required></textarea>
        <div class="mt-1 d-flex justify-content-end">
          <button class="btn btn-dark" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <section id="comments" class="mt-2">
    <div class="card">
      <div class="card-body">

        {{!-- Each comment --}}
        {{#each reactions}}
        <div class="mb-3">
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0"><a href="/u/{{author._id}}" class="text-dark"><b>{{author.FullName}}</b></a><small class="ml-1">{{postTime}}</small></p>
          </div>
          <p class="mb-0">{{#if isBlocked}}<small class="text-muted">[Bình luận này đã bị chặn]</small>{{else}}<small>{{body}}</small>{{/if}}</p>
        </div>
        {{else}}
        <div class="mb-3">
          <p class="mb-0 text-muted text-center">Chưa có bình luận</p>
        </div>
        {{/each}}      

      </div>
    </div>
  </section>
</div>