{{#section 'title'}}
<title>Forum</title>
{{/section}}
{{#section 'css'}}
<style>

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #323A40;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #E1E6EA;
}
</style>
{{/section}}

<div id="topics" class="row mt-1 flex-wrap">
  <a role="button" class="m-1 px-4 text-nowrap btn {{#if all}}font-weight-bold btn-dark active{{else}}btn-light{{/if}}" href="?topic=0">Tất cả</a>
  {{#each topics}}
  <a role="button" class="m-1 px-4 text-nowrap btn {{#if selected}}font-weight-bold btn-dark active{{else}}btn-light{{/if}}" href="?topic={{_id}}">{{topicName}}</a>
  {{/each}}
</div>

<div class="row mt-2">
  <a role="button" class="m-1 w-100 btn btn-dark font-weight-bold" href="/forum/new_content">Đăng bài</a>
</div>

<div class="my-2 row p-2" style="background: white;">
  <div class="col-12 p-0 min-vh-100">

    {{!-- Each content row --}}
    {{#each contents}}
    <div class="card flex-row border-0 m-2">
      <div class="card-header p-0">
        <img class="img" src="#" alt="">
      </div>
      <div class="card-body p-1">
        <h5 class="card-title mb-1">{{title}}</h5>
        <div class="d-flex flex-row flex-wrap">
          <small class="mr-1 font-weight-bold">
            <a href="?topic={{_id}}" style="z-index: 500; position: relative;">{{topicName}}</a>
          </small>

          <small class="ml-auto mx-2">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{postTime}}
          </small>
          <small class="mr-1">
            <i class="fa fa-user" aria-hidden="true"></i>
            <a class="text-dark" href="/user/#" style="z-index: 500; position: relative;">Người đăng</a>
          </small>

          <small class="mx-1">
            <i class="fa fa-comments" aria-hidden="true"></i>
            000000
          </small>
        </div>
        <a href="/c/{{_id}}" class="stretched-link"></a>
      </div>
    </div>
    {{else}}
    <p class="text-center">Không có dữ liệu</p>
    {{/each}}

  </div>

  {{!-- Pagination --}}
  <div class="col-12 text-right">
    <nav>
      <ul class="pagination justify-content-end">
        <li class="page-item {{#unless this.canGoPrev}}disabled{{/unless}}">
          <a class="page-link" href="?page={{this.prevPage}}" tabindex="-1">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
        {{#each this.pageItems}} 
        <li class="page-item {{#if isActive}}active{{/if}}">
          <a class="page-link" href="?page={{value}}">{{value}}</a>
        </li>
        {{/each}}
        <li class="page-item {{#unless this.canGoNext}}disabled{{/unless}}">
          <a class="page-link" href="?page={{this.nextPage}}">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>